*{
    box-sizing: border-box;
}

html {
    font-size: 16px;
   background-color: rgb(113, 186, 255);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    width: 1366px;
    height: 180px;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    text-align: center;
    float: left;
}

main{

    width: 1366px;
    height: auto;
    float: left;
}
figure{
    width: 366px;
    height: auto;
    float: left;
    background-color: rgb(165, 199, 255);
    margin-top: 20px ;
    position: relative;
}

h3{
    text-align: left;
    font-size: 1.2rem;
    background-color: rgb(165, 199, 255);
    float: left;
}
fieldset {
    width: 1366px;
    height: auto;
    border-radius: 30px;
    float: left;
}
legend h2{
 font-size: 1.5rem;
 float: left;
}
p{
    float: left;
}
footer{
    width: 1366px;
    height: 100px;
}
footer a{
    text-decoration: none;
    font-size: 20px;
    margin-left: 50px;
    line-height: 60px;
    padding: 12px 20px;
   
}
